.divContenidoContacto {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
}
.pcView{
    display: inline;
}
.movilView{
    display: none;
}

.divFootContacto {

}

.tituloContacto {
    font-family: Ailerons;
    color: whitesmoke;
    font-size: 8rem;
    position: absolute;
    left: 45%;
}

.divFormulario {
    position: absolute;
    top: 13rem;
    font-family: Ailerons;
    color: whitesmoke;
    padding-left: 10px;
}

.spanContacto {
    font-size: 1.5rem;
}

.tdTittle {
    font-size: 30px;
}

.btnContacto {
    font-size: 30px;
}

@media screen and (max-width: 1050px) {
    .tdTittle {
        font-size: 20px;
    }

    .btnContacto {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .tdTittle {
        font-size: 15px;
    }

    .btnContacto {
        font-size: 15px;
    }

    .spanContacto {
        font-size: 15px;
    }

    .divFootContacto {
        position: relative;
        top: 10%;
    }

    .tituloContacto {
        font-size: 6rem;
        position: absolute;
        left: 45%;
    }

    .ftletra {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 770px) {
    .divFormulario {
        top: 8.5rem;
    }

    .spanContacto {
        font-size: 1rem;
    }

    .tdTittle {
        font-size: 13px;
    }

    .btnContacto {
        font-size: 13px;
    }
}

@media screen and (max-width: 680px) {
    .divContenidoContacto {
        background: black;
        height: 140%;
        width: 100%;
        position: absolute;
    }

    .divFootContacto {
        position: absolute;
        top: 80%;
    }
    .pcView{
        display: none;
    }
    .movilView{
        display: inline;
        position: absolute;
        top: 31rem;
        right: 3rem;
    }
    .spanContactoMovil1 {
        font-size: 1.5rem;
        left: 0;
        top: 33rem;
        color: whitesmoke;
        font-family: Ailerons;
    }
    .spanContactoMovil2 {
        font-size: 1.5rem;
        left: 0;
        top: 38rem;
        color: whitesmoke;
        font-family: Ailerons;
    }
}

@media screen and (max-width: 600px){
    .tituloContacto {
        font-size: 4rem;
        position: absolute;
        left: 45%;
    }
    .spanContactoMovil1 {
        font-size: 1rem;
        top: 33rem;
        }
    .spanContactoMovil2 {
        font-size: 1rem;
        top: 38rem;
        }
}
@media screen and (max-width: 500px){
    .spanContactoMovil1 {
        top: 25rem;
        font-size: 1.3rem;
    }
    .spanContactoMovil2 {
        top: 28rem;
        font-size: 1.3rem;
    }
    .tituloContacto {
        font-size: 4rem;
        position: absolute;
        right: 45%;
        left: 0;
    }
}