.fontFooter {
    color: gray;
}


.divFooterPrincipal {
    position: absolute;
    bottom: 0;
    display: inline;
}
.Text1{
    color: whitesmoke;

}

/*pc*/
@media only screen and (min-width: 768px) {
    .Text1 {
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

.ftletra {
    color: black;
    font-size: 2rem;
}

.fontposition1 {

}

.fontposition2 {
    position: relative;
    left: 30%;
}

.fontposition3 {
    position: relative;
    left: 55%;
}