.divPrincipalFooter {
    width: 100%;
    color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 20px;
}
.links{
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    width: 20%;
}
.CopyR{
    font-size: 15px;
    color: gray;
    right: 0;
    cursor: default;
    width: 40%;
    text-align: right;
}