.videoPosition {
    overflow-y: hidden;
    overflow-x: hidden;
}

.divFooterPrincipal {
    position: absolute;
    z-index: 1;
    bottom: .5rem;
    width: 100%;

}
.homeConfig{
    color: black;
    font-size: 2rem;
    bottom: 0;
}
