.videoPosition {
    overflow-y: hidden;
    overflow-x: hidden;
}

.homeConfig {
    color: black;
    font-size: 2rem;
    bottom: 0;
}

.imgOpacity {
    opacity: .8;
}

.imgcarusel {
    position: relative;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {

}

.tituloImg1 {
    font-family: Aileron;
    font-size: 3rem;
}

.tituloImg2 {
}

.tituloImg3 {
}

.tituloImg4 {
}

.tituloImg5 {
    font-family: Aileron;
    font-size: 5rem;
}


@media screen and (max-height: 740px) {
    .imgcarusel {
        height: 740px;
        width: 100%;
    }
}

@media screen and (max-height: 1024px) {
    /*ipad*/
    .imgcarusel {
        height: 1024px;
        width: 100%;
    }
}

@media screen and (max-height: 1366px) {
    /*ipad pro*/
    .imgcarusel {
        height: 1366px;
        width: 100%;
    }
}

@media screen and (max-height: 667px) {
    /*iphone 6*/
    .imgcarusel {
        height: 667px;
        width: 100%;
    }
}

@media screen and (max-height: 736px) {
    /*iphone 8 plus*/
    .imgcarusel {
        height: 736px;
        width: 100%;
    }
}

@media screen and (max-height: 812px) {
    /*iphone x*/
    .imgcarusel {
        height: 812px;
        width: 100%;
    }
}

@media all and (min-height: 930px) {
    /*iphone x*/
    .imgcarusel {
        height: 930px;
        width: 100%;
    }
}

@media all and (min-height: 850px) {
    /*iphone x*/
    .imgcarusel {
        height: 850px;
        width: 100%;
    }
}