.tituloNavbar {
    font-size: 3rem;
    cursor: pointer;
    font-family: Ailerons, serif;
}

.logImg {
    position: absolute;
    top: 0;
    width: 300px;
    margin-left: 5px;
    margin-top: -20px;
    cursor: pointer;
    z-index: 1;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.tdNavbar {
    font-family: "Ailerons-Regular", serif;
    font-size: 50px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.linea1{
    border-bottom: 1px solid darkgray;
    opacity: 1;
}

.bodyMenu {
    background: black;
}

.BtnMenu {
    height: 4.5rem;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
}

.divMenu {
    width: 25%;
    background: black;
    height: 4.5rem;
    right: 0;
    top: 0;
    display: inline-flex;
}


.iconStyle {
    color: black;
    font-size: 3rem;
}

.divMenu {
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    width: 40%;
    height: 4.5rem;
    font-size: 100%;
}

.tituloMenu {
    font-family: "Ailerons";
    font-size: 2rem;
    color: whitesmoke;
    padding-left: 5px;
}

.divPrincipalNavbar {
    background: transparent;
    height: 4.5rem;
    width: 100%;
}

.menuDespliegue {
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 90%;
    overflow-y: hidden;
    right: 0;
    background: black;
    color: whitesmoke;
}

li {
    font-family: "Ailerons";
    font-size: 5rem;
    cursor: pointer;
    right: 0;
}

.displaypc {
    display: inline;
}

.displatmovil {
    display: none;
}

@media screen and (max-width: 1050px) {
    .tituloMenu {
        font-size: 20px;
        padding-top: 25px;
    }
}

@media screen and (max-width: 800px) {
    .tituloMenu {
        padding-top: 15px;
    }

    .displaypc {
        display: none;
    }

    .displatmovil {
        display: inline;
    }

    .tituloNavbar {
        font-size: 2rem;
        padding-top: 20px;
    }
    .divMenuNavbar{
        margin-right: 5%;
    }
}

@media screen and (max-width: 600px) {
    .tituloMenu {
        padding-top: 15px;
    }

    .tituloNavbar {
        font-size: 2rem;
    }

    .iconStyle {
        color: black;
        font-size: 3rem;
    }

    .logImg {
        position: absolute;
        top: 1rem;
        width: 200px;
        margin-left: 3px;
        margin-top: -20px;
        cursor: pointer;
        z-index: 1;
    }

    .divMenuNavbar{
        margin-right: 10%;
    }
}

@media screen and (max-width: 500px) {
    .tituloMenu {
        padding-top: 15px;
        font-size: 15px;
    }
    .divMenuNavbar{
        margin-right: 18%;
    }
}

@media screen and (max-width: 400px) {
    .tituloNavbar {
        font-size: 1.5rem;
    }
    .divMenuNavbar{
        margin-right: 22%;
    }
}