.presentacinTitulo{
    color: red;
    font-family: arial;
    padding: 10px;
}
.nosotrosPresentacion{
    color:gray;
    font-family: arial;
    pading:15px;
}
.lema{
    color:gray;
    text-align: center;
    padding: 15px;
}
.botonesNombre{
    font-family: Ailerons-Regular;

}
@media only screen and (min-width: 768px) {
    .descripcionNoso{
        padding: 30px;
        font-family: arial;
        color: gray;
        font-size: 35px;
    }
    .imgNosoM{
        position: relative;
        width: 20rem;
        height: 35rem;
        padding-top: 10px;
        border: .5px solid gray;
    }
}


@media only screen and (max-width: 768px) {
   .imgNosoM{
       position: relative;
        width: 15rem;
       height: 20rem;
       padding-top: 10px;
   }
   .fontM{
    font-size: 18px;
       padding: 30px;
       font-family: arial;
       color: gray;
   }
}
