.presentacinTitulo {
    color: whitesmoke;
    font-family: Ailerons;
    padding: 10px;
    left: 0;
}

.nosotrosConfig {
    color: black;
    font-size: 2rem;
}

.nosotrosPresentacion {
    color: whitesmoke;
    font-family: arial;
    pading: 15px;
    font-size: 1.5rem;
}

.lema {
    color: whitesmoke;
    text-align: center;
    padding: 25px;

}

.botonesNombre {
    font-family: Ailerons-Regular;

}

.divFootNosotros {
    height: 110%;
    maxHeight: 900px;
    bottom: -50px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .descripcionNoso {
        padding: 30px;
        font-family: arial;
        color: gray;
        font-size: 35px;
    }

    .imgNosoM {
        position: relative;
        width: 20rem;
        height: 35rem;
        padding-top: 10px;
        border: .5px solid gray;
    }

    .Principales {
        border-top: 2px solid gray;
    }

    .div1 {
        padding-top: 2rem;
    }

    .imgPrincipal {
        width: 70%;
    }

    .ocultarMovil {
        display: none;
    }
}

/*movil*/
@media screen and (max-width: 768px) {
    .imgNosoM {
        position: relative;
        width: 15rem;
        height: 20rem;
        padding-top: 10px;
    }

    .fontM {
        font-size: 18px;
        padding: 30px;
        font-family: arial;
        color: gray;
    }

    .Principales {
        border-top: 2px solid gray;
    }

    .div1 {
        padding-top: 1rem;
    }

    .imgPrincipal {
        width: 40%;
        padding-top: 5px;
    }

    h3 {
        text-align: center;
        padding-top: 4rem;
    }

    .ocultarPc {
        display: none;
    }

    .nosotrosConfig {
        color: black;
        font-size: 1.5rem;
    }
}
