/*movil*/
@media screen and (max-width: 360px){
    .PDFStyle{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .PDFDoc{
        width: 360px;
        height: 100%;
    }
}
/*pc*/
@media screen and (min-width: 1000px){
    .PDFStyle{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .PDFDoc{
        width: 100%;
        height: 100%;
    }
}
