/*movil*/
@media screen and (max-width: 1000px) {
    .ImgProduct {
        position: relative;
        width: 250px;
        height: 380px;
        border: 1px solid gray;
        top: 1rem;
        bottom: 1rem;
    }

    .titleProduct1 {
        font-family: Ailerons-Regular;
        position: relative;
        padding-top: 1rem;
        font-size: 1rem;
    }
}

/*pc*/
@media screen and (min-width: 1000px) {
    .ImgProduct {
        position: relative;
        width: 20%;
        height: 20%;
        border: 1px solid gray;
        top: 1rem;
        bottom: 1rem;
        left: 3rem;
    }

    .titleProduct1 {
        font-family: Ailerons-Regular;
        position: relative;
        padding-top: 2rem;
        font-size: 2rem;
    }
}