/*movil*/
@media screen and (max-width: 1000px){
    .ImgProduct{
        position: relative;
        width: 150%;
        height: 150%;
        border: 1px solid gray;
        top: 1rem;
        bottom: 1rem;
    }
}
/*pc*/
@media screen and (min-width: 1000px){
    .ImgProduct{
        position: relative;
        width: 60%;
        height: 60%;
        border: 1px solid gray;
        top: 1rem;
        bottom: 1rem;
    }
}