/*en movil*/
@media only screen and (max-width: 768px) {
    .imgcaruselP{
        width:100%;
        height:8rem;
    }
    .titleProject{
        font-family: Ailerons-Regular;
        color: #5a6268;
    }
    .descripcionProject1{
        align-items: center;
        text-align: justify;
        align-content: center;
        color: #5a6268;
        font-size: 14px;
        font-family: Arial;
    }
    .proyect{
        margin-top: 1.5rem;
    }
}

/*en pc*/
@media only screen and (min-width: 768px) {
    .imgcaruselP{
        width:100%;
        height:100%;
    }
    .titleProject{
        font-family: Ailerons-Regular;
        color: #5a6268;
    }
    .descripcionProject1{
        align-items: center;
        text-align: justify;
        align-content: center;
        color: #5a6268;
        font-size: 1.5rem;
        font-family: Arial;
    }
    .proyect{
        margin-top: 1.5rem;
    }
}