.divprincipalServicio {
    width: 100%;
    height: 105%;
    background: black;
    position: absolute;
    left: 0;
}

.serviciosTitle {
    font-family: Ailerons;
    color: whitesmoke;
    font-size: 4rem;
}

.descripcionServicios {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: justify;
}

.ftletra {
    color: whitesmoke;
    font-size: 2rem;
}

.iconStyleService {
    color: whitesmoke;
    font-size: 8rem;
    position: relative;
    left: 45%;
    top: 30%;

}

h1 {
    padding-top: 130px;
    position: relative;
    left: 30%;
    font-family: Ailerons;
    color: whitesmoke;
}

.mobiliario {
    left: 40%;
}

.divFootServicios {
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 1050px) {
    .divFootServicios {
        margin-top: 50px;
    }

    h1 {
        left: 10%;
        top: 28%;
    }

    .iconStyleService {
        font-size: 8rem;
        position: absolute;
        left: 25%;
        top: 30%;
    }
}

@media screen and (max-width: 770px) {
    .divFootServicios {
        margin-top: 100px;
    }

    .letra {
        left: 15%;
        top: 28%;
        font-size: 15px;
        position: relative;
    }

    .iconStyleService {
        font-size: 5rem;
        position: absolute;
        left: 35%;
        top: 30%;
    }

    .divprincipalServicio {
        height: 115%;
    }

    .ftletra {
        color: whitesmoke;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .divFootServicios {
        margin-top: 200px;
    }

    .divprincipalServicio {
        height: 125%;
    }
}

@media screen and (max-width: 500px) {
    .divFootServicios {
        margin-top: 350px;
    }

    .divprincipalServicio {
        height: 150%;
    }

    .ftletra {
        color: whitesmoke;
        font-size: 1rem;
    }

    .serviciosIconsDiv {
        display: inline;
    }
}

@media screen and (max-width: 425px) {
    .divFootServicios {
        margin-top: 500px;
    }

    .divprincipalServicio {
        height: 170%;
    }

    .ftletra {
        color: whitesmoke;
        font-size: 1rem;
    }

    .letra {
        left: 15%;
        top: 28%;
        font-size: 10px;
    }

    .iconStyleService {
        font-size: 3.5rem;
        position: absolute;
        left: 35%;
        top: 45%;
    }
}

@media screen and (max-width: 350px) {
    .divFootServicios {
        margin-top: 650px;
    }

    .divprincipalServicio {
        height: 182%;
    }
}