/*movil*/
@media only screen and (max-width: 768px) {
    .divServIzq {

    }

    .descripcionServicio {

    }

    .divServPrincipal {

    }
}

/*pc*/
@media only screen and (min-width: 768px) {
    .divServIzq {
        border-right: 1px solid gray;
        padding-top: 1rem;

    }

    .descripcionServicio {
        align-items: center;
        text-align: justify;
        align-content: center;
        color: #5a6268;
        font-size: 1.5rem;
        font-family: Arial;
        padding-top: 2rem;
    }

    .divServPrincipal {
        height: 20rem;
    }
}