.backgroundInicio{
    background-color: black;
    height: 900px;
}

.imgLogoEnInicio{
    z-index: 2;
    position: absolute;
    width: 60%;
    top: -40px;
}

.navIcon{
    position: fixed;
    background-color: whitesmoke;
    padding: 8px;
    font-size: 40px;
    border-radius: 30px;
    right: 2%;
    top: 2%;
    cursor: pointer;
    z-index: 2;
}
.tituloModal{
    font-family: Ailerons, serif;
    font-size: 3rem;

}
.InicioDescrip{
    color: whitesmoke;
    font-size: 1.7rem;
    opacity: .7;
    font-family: Georgia, serif;
    text-align: justify;
    bottom: 2rem;
    position: relative;
}

.contenidoSecciones{
    font-size: 1.2rem;
    font-family: Georgia,serif;
    padding-top: 5rem;
    text-align: justify;
}

.TituloSecciones{
    font-size: 2rem;
    font-family: Ailerons, serif;
    font-weight: lighter;
}

.imgPrincipal{
    opacity: .85;
}

.navbarHover{
    color: dodgerblue;
}
.navbarHover :hover{
    color:whitesmoke;
}

.footerHover :any-link{
    color: #4f3403;
}
.footerHover :hover{
    color:black;
}
